@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500&display=swap');

@font-face {
  font-family: 'Lakesight';
  src: url('./Lakesight.woff2') format('woff2'),
      url('./Lakesight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  transition: all 0.4s ease-in-out;
}

.section{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

header {
  padding: 0 40px;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  position: absolute;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  margin-top: -3%;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 30px;
  font-weight: bold;
}

h1 {
  font-family: "Lakesight", sans-serif;
  font-size: 5rem;
  transform: rotate(-7.5deg);
}

footer {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
  letter-spacing: -1px;
  font-weight: bold;
}

button:hover {
  color: aqua;
  pointer-events: all;
}